language: node_js
node_js:
 - "node"
services:
 - postgres
cache:
  directories:
    - node_modules
before_script:
  - npm install
  - psql -c 'drop database if exists mydiaryapi;' -U postgres
  - psql -c 'create database mydiaryapi;' -U postgres
  - psql \l
  - psql -U postgres -f ./database/user.sql
  - psql -U postgres -f ./database/entry.sql
script:
  - npm run build
  - npm run coverage
after_success:
  - 'npm run coveralls'
  


