language: node_js
node_js:
 - "node"
services:
 - postgres
cache:
  directories:
    - node_modules
before_script:
  - npm install
  - psql -c 'create database test_database;' -U postgres
  - psql -U postgres -f ./database/user.sql
  - psql -U postgres -f ./database/entry.sql
script:
  - npm run build
  - node ./build/bundle.js &
  - npm run test 
  - npm run coverage
after_success:
  - curl http://localhost:3000/close
  - 'npm run coveralls'
  


