* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-display: "Lato", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
.clearfix {
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
h2::after {
  display: block;
  height: 2px;
  background-color: aqua;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
}

#main-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../img/background.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.home-text {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 30px;
  padding: 5px;
}
.home-text h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 240%;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 4px;
  margin-bottom: 30px;
}

.btn:link,
.btn:visited,
input[type="submit"] {
  text-decoration: none;
  padding: 10px 30px;
  display: inline-block;
  font-weight: 300;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
  text-transform: uppercase;
}

.btn-filled:link,
.btn-filled:visited,
input[type="submit"] {
  background-color: aqua;
  color: #fff;
  margin-right: 15px;
  border: 1px solid aqua;
}

.btn-transparent:link,
.btn-transparent:visited {
  border: 1px solid aqua;
  color: aqua;
}
.btn-filled:hover,
.btn-filled:active {
  background-color: cornflowerblue;
  border: 1px solid cornflowerblue;
}
.btn-transparent:hover,
.btn-transparent:active {
  background-color: cornflowerblue;
  color: #fff;
  border: 1px solid cornflowerblue;
}

.logo {
  width: auto;
  height: 100px;
  margin-left: 10px;
  margin-top: 20px;
  float: left;
}
/* .main-nav {
  float: right;
  list-style: none;
  margin-right: 20px;
  margin-top: 65px;
}

.main-nav li {
  display: inline-block;
  margin-left: 10px;
}
.main-nav li a:link,
.main-nav li a:visited {
  text-decoration: none;
  padding: 5px 0px;
  text-transform: uppercase;
  color: #fff;
  transition: border-bottom 0.5s;
  border-bottom: 1px solid transparent;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 1px solid aqua;
} */
.main-nav {
  margin-top: 65px;
}
.nav {
  float: right;
  list-style: none;
  margin-right: 20px;
}

.nav li {
  display: inline-block;
  margin-left: 10px;
}
.main-nav li a:link,
.main-nav li a:visited {
  transition: border-bottom 0.5s;
  border-bottom: 1px solid transparent;
}
.nav li a:link,
.nav li a:visited {
  text-decoration: none;
  padding: 5px 0px;
  text-transform: uppercase;
  color: #fff;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 1px solid aqua;
}

/* mini css grid */
.bigbox {
  width: 1140px;
  margin: 5px auto;
}

.box {
  float: left;
  display: block;
  padding: 1%;
  margin: 3px 0 1px 1px;
}
.fullspan {
  width: 98%;
}
.span21 {
  width: 49.2%;
}
.span31 {
  width: 32.26%;
}

.span32 {
  width: 66.13%;
}
.span41 {
  width: 23.8%;
}
.span42 {
  width: 49.2%;
}
.span43 {
  width: 74.6%;
}
.span3-center {
  margin-left: 32.26%;
}

/* signup page */

.header2 {
  background-color: #35424a;
  color: #fff;
  height: 90px;
}

.nav2 {
  margin-top: 30px;
}
.card {
  border: 1px solid black;
  padding: 2px 10px 10px 10px;
  margin-top: 50px;
}

/* inputs */
input[type="email"] {
  padding: 6px;
  height: 35px;
  width: 100%;
  margin-bottom: 15px;
}
input[type="text"] {
  padding: 6px;
  height: 35px;
  width: 100%;
  margin-bottom: 15px;
}
input[type="password"] {
  padding: 6px;
  height: 35px;
  width: 100%;
  margin-bottom: 15px;
}

.signin-prompt {
  font-size: 15px;
  color: grey;
  margin-bottom: 10px;
}
.signin-prompt a {
  color: red;
  text-decoration: none;
}
textarea {
  margin-bottom: 20px;
  padding: 5px;
}

.footer {
  background: gray;
  height: 100px;
  margin-bottom: 2px;
}
